body {
  margin: 0;
  background-color: #f8f8f8;
}
@media screen and (min-width: 768px) {
  body {
    display: flex;
  }
}

.silebar {
  background-size: cover;
  background-image: url("../img/background.png");
  top: 0px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .silebar {
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    width: 40vw;
  }
  .silebar:before {
    content: "";
    background: inherit;
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }
}
@media screen and (max-width: 768px) {
  .silebar {
    height: 200px;
    width: 100vw;
    position: relative;
    z-index: 0;
  }
  .silebar:before {
    content: "";
    background: inherit;
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
  }
}

.icon {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .icon {
    margin-top: 50px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .icon {
    margin-top: 40px;
    margin-right: 30px;
  }
  .icon img {
    width: 30px;
  }
}
.icon a {
  text-decoration: none;
}
.icon a img {
  margin-left: 10px;
}
.icon a img:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  article {
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
  }
  article div {
    padding-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  article {
    height: 100% !important;
    padding: 20px;
  }
}

h1 {
  margin-top: 25vh;
  margin-right: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  color: #E7E7E7;
  font-size: 4.5rem;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-top: 35px;
  }
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
    padding-bottom: 50px;
  }
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.loading {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #fdfdfd;
}
.loading .circle {
  display: block;
  position: relative;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 8px solid #e0e0e0;
  border-top: 8px solid #cce6ff;
  border-radius: 50%;
  -webkit-animation: loading 800ms linear 0ms infinite normal both;
          animation: loading 800ms linear 0ms infinite normal both;
}
@media screen and (max-width: 768px) {
  .loading .circle {
    width: 20px;
    height: 20px;
  }
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}

.scroll {
  display: inline-block;
  padding-top: 70px;
  padding-right: 40px;
  position: absolute;
  bottom: 50px;
  right: -50px;
}
@media screen and (max-width: 768px) {
  .scroll {
    visibility: hidden;
  }
}
.scroll::before {
  -webkit-animation: scroll 3.5s infinite;
          animation: scroll 3.5s infinite;
  border: solid #000;
  border-width: 0 0 1px 1px;
  content: "";
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}

@-webkit-keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */